@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --main-color:#000000;
    --black:#aa6612;
    --bg:#ffffff;
    --border:.1rem solid rgba(44, 219, 21, 0.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;  padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    
}


body{
    background: white ;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fcfbf9;
    background:#c48806 ;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
    
}
.header{
background: rgb(158, 231, 13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3%;
    border-bottom: rgb(14, 199, 14);
    position: fixed;
    top: 0;
    height: 57px;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img{
     height: 4rem;

}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid rgb(158, 231, 13);
    padding-bottom: .5rem;
}
.header .icons a{
color: rgb(158, 231, 13);
cursor: pointer;
font-size: 2.5rem;
margin-left: 2rem;
box-sizing: 3rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;

}
.header .search-form.active{
    transform: scale(1);
}
.header .search-form{
    position: absolute;
    top:115% ; right: 7%;
    background: #ffffff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
transform: scale(0);
transform-origin: top;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin: 1.5rem;
    color: rgb(158, 231, 13);

}
.header .search-form label:hover{
color: var(--main-color);
}
.header .cart-item-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: rgb(158, 231, 13);
    padding: 0 1.5rem;
}
.header .cart-item-container.active{
    right: 0%;
}
.header .cart-item-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.header .cart-item-container .cart-item .fa-times{
position: absolute;
top: 1rem; right: 1rem;
font-size: 2rem;
cursor: pointer;
color: #06a120;
}
.header .cart-item-container .cart-item .fa-times:hover{
    color: var(--main-color);
}
.header .cart-item-container .cart-item img{
    height: 7rem;
}
.header .cart-item-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--main-color);
    padding-bottom: .5rem;

}
.header .cart-item-container .cart-item .content .price{
    font-size: 1.5rem;
    color: rgb(133, 43, 8);
    padding-bottom: .5rem;
    
}
.header .cart-item-container .btn{
    width: 100%;
    text-align: center;

}


/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
        
        
    }
    .header{
padding: 1.5rem 2rem;

    }
} 
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: rgb(158, 231, 13);
        background: 30rem;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        
    }
    header .navbar.active{
        right: 0%;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
    .header .navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;

    }
    .header .search-form{
        width: 90%;
        right: 2rem;

    }
} 
@media (max-width:450px){
    html{
        font-size: 50%;
    }
 
} 
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../img/254.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content h3{
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #ffffff;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ffffff;
}


/*contact us*/
body
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 46, 46);
    background-color: rgba(238, 232, 232, 0.863)
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
hr
{
    width: 100%;
}
h2
{
    font-size: 20px;
}
.contact-items
{
    display: flex;
}
.customer-care,.write-us,.sales-market
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    margin: auto;
    padding: 35px 15px;
    border-radius: 15px;
    text-align: center;
}
.customer-care
{
    box-shadow: 0 25px 10px green;
    border: 2px solid green;
}
.write-us
{
    box-shadow: 0 25px 10px green;
    border: 2px solid green;
}
.sales-market
{
    box-shadow: 0 25px 10px green;
    border: 2px solid green;
}
button
{
    padding: 8px 16px;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    margin: 15px auto;
    cursor: pointer;
    background: rgb(26, 228, 26);
    color: white;
}
button:hover
{
    background:rgb(108, 163, 108) ;
}
.cust-care
{
    background: green;
}
@media screen and (max-width:600px) 
{
    .container
    {
        width: 90%;
    }
}
a
{
    font-size: 16px;
}
.customer-care a
{
    color: green;
    text-shadow: 0 0 2px rgba(73, 129, 80, 0.637);
}
.sales-market a
{
    color: green;
    text-shadow: 0 0 2px rgba(73, 129, 80, 0.637);
}

/*most selling*/

  /*About us*/
  
/* products*/
