 body {
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(48, 46, 46);
     background-color: rgba(238, 232, 232, 0.863)
 }

 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 25px;
 }

 hr {
     width: 100%;
 }

 h2 {
     font-size: 20px;
 }

 .contact-items {
     display: flex;
 }

 .customer-care,
 .write-us,
 .sales-market {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 28%;
     margin: auto;
     padding: 35px 15px;
     border-radius: 15px;
     text-align: center;
 }

 .customer-care {
     box-shadow: 0 25px 10px green;
     border: 2px solid green;
 }

 .write-us {
     box-shadow: 0 25px 10px green;
     border: 2px solid green;
 }
 .write-us #write{
        padding: 8px 16px;
            font-size: 17px;
            border-radius: 25px;
            border: none;
            margin: 5px auto;
            cursor: pointer;
            background: rgb(26, 228, 26);
            color: white;
            text-decoration: none;
 }

 .sales-market {
     box-shadow: 0 25px 10px green;
     border: 2px solid green;
 }

 button {
     padding: 8px 16px;
     font-size: 17px;
     border-radius: 25px;
     border: none;
     margin: 15px auto;
     cursor: pointer;
     background: rgb(26, 228, 26);
     color: white;
 }

 button:hover {
     background: rgb(108, 163, 108);
 }

 .cust-care {
     background: green;
 }

 @media screen and (max-width:600px) {
     .container {
         width: 90%;
     }
 }

 a {
     font-size: 16px;
 }

 .customer-care a {
     color: green;
     text-shadow: 0 0 2px rgba(73, 129, 80, 0.637);
 }

 .sales-market a {
     color: green;
     text-shadow: 0 0 2px rgba(73, 129, 80, 0.637);
 }